@import '../blocks/variables';
@import '../blocks/card';
@import '../blocks/stars';

body {
  margin: 0;
  font-family: $font-main;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;

  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
