.stars {
  display: flex;
  margin-bottom: 12px;
  align-items: center;

  &__icon {
    width: 16px;
    height: 16px;
    background-image: url('/src/images/star.svg'); // или используй inline svg как background
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 4px;
  }

  &--5 .stars__icon:nth-child(-n + 4) {
    background-image: url('/src/images/star-active.svg');
  }
}
